*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hoang {
    background-color: rgb(70, 204, 234);
}

.flex { 
    display: flex;
    justify-content: space-between
}
.anh1 {
    width: 450px;
}

div.gohann{
    padding: 0 0 0 1%;
    font-size: 30px;
}
body {
    color: white;
  }